<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button color="primary">Charger model</ion-button>

      <ion-button id="newModel"><ion-icon name="add-circle-outline"></ion-icon> </ion-button>
      <ion-button (click)="ExportJSONCanvas()"><ion-icon name="download"></ion-icon></ion-button>
      <ion-button (click)="ExportPDFCanvas()">pdf</ion-button>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="view">
  <div id="componentList" resizable r-direction="right">
  <ion-list>
    <ion-list-header>
      Liste des composant disponible
    </ion-list-header>
    <ion-item>
      <ion-label> Select</ion-label>
      <ion-button (click)="createSelect()" >create</ion-button>
    </ion-item>
    <ion-item>
      <ion-label >Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  </div>

  <div id="canvas">
    <ion-card *ngFor="let elem of canvas.canvas" style="height:{{elem.height}}px; width:{{elem.width}}px">
      <ion-header>{{elem.label}}</ion-header>
      <ion-item>
      <select>
        <option *ngFor="let opt of elem.options" value="{{opt}}">{{opt}}</option>
      </select>
      </ion-item>
    </ion-card>

  </div>
  <div id="contenerRollList">
    <div id="diceRollList" class="" >
      <app-expandable expandWidth="90%" [expanded]="tooltipExpand" id="" class="">
        <ion-list >
          <ion-list-header>
            <ion-icon name="arrow-back" class="" (click)="toggleTooltip()" ></ion-icon>
              Liste lancer de dés disponible
          </ion-list-header>
          <ion-item>
            <ion-label >Input</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Toggle</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Radio</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-list>
      </app-expandable>
    </div>
  </div>
</div>


  </ion-content>

