#componentList{
  height: 100%;
  border-right: grey 1px solid;
  display: block;
}

#canvas{
  height: 100%;
  display: block;

}

#view{

  display: grid;
  grid-template-columns: 15% 75% 10%;

  height: 100%;
}
#diceRollList{
  height: 100%;
  border-left: grey 1px solid;
  display: block;
}

.showingArrow{

}
.hidden-div{
  width: 0%!important;
}
