<ion-header>
  <ion-toolbar>
      <ion-item id="title">
        <ion-input value="{{canvas.title}}" (change)="updateTitle($event)"></ion-input>
      </ion-item>
      <ion-button color="primary" (click)="chargeDefaultModel()">Charger model</ion-button>

      <ion-button (click)="ExportJSONCanvas()"><ion-icon name="download"></ion-icon></ion-button>
      <ion-button (click)="ExportPDFCanvas()">pdf</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
<div id="view">
  <div id="componentList" mwlResizable [enableGhostResize]="true" [resizeEdges]="{ right: true }"  (resizeEnd)="onResizeEnd($event,'componentList')">
  <ion-list>
    <ion-list-header>
      Liste des composant disponible
    </ion-list-header>
    <ion-item *ngFor="let draggable of draggables"
              [dndDraggable]="draggable.content"
              [dndEffectAllowed]="draggable.effectAllowed"
              [dndDisableIf]="draggable.disable">

      <ion-icon  *ngIf="draggable.handle" name="code"  dndHandle>drag_handle></ion-icon>

      {{draggable.content}}
      <span [hidden]="!draggable.handle"> only with handle</span>
      <span [hidden]="!draggable.disable"> DISABLED</span>
    </ion-item>
  </ion-list>
  </div>

  <div
       dndDropzone id="canvas"
       (dndDrop)="onDrop($event)"
  >

    <!--optional placeholder element for dropzone-->
    <!--will be removed from DOM on init-->
    <div style="border: 1px orangered solid; border-radius: 5px; padding: 15px;"
         dndPlaceholderRef>
      placeholder
    </div>

    <div *ngFor="let elem of canvas.canvas " >
      <select *ngIf="elem.type == 'select'" class="defaultSelect">
        <option *ngFor="let opt of elem.options" value="{{opt}}">{{opt}}</option>
      </select>
      <div *ngIf="elem.type == 'input'" class="defaultInput"
           [dndDraggable]="defaultInput.content"
           [dndEffectAllowed]="defaultInput.effectAllowed"
           [dndDisableIf]="defaultInput.disable">
        <ion-input></ion-input>
      </div>
    </div>
  </div>
  <div id="contenerRollList" mwlResizable [enableGhostResize]="true" [resizeEdges]="{ left: true }" *ngIf="tooltipExpand"  (resizeEnd)="onResizeEnd($event,'contenerRollList')">
    <div id="diceRollList" class="" >
<!--      <app-expandable expandWidth="90%" [expanded]="tooltipExpand" id="" class="">-->
        <ion-list >
          <ion-list-header>
            <ion-icon name="arrow-back" class="" (click)="toggleTooltip()" ></ion-icon>
              Liste lancer de dés disponible
          </ion-list-header>
        </ion-list>
<!--      </app-expandable>-->
    </div>
  </div>
</div>


  </ion-content>

