<ion-header>
  <ion-toolbar>
    <ion-title>
      Présentation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Qui sommes-nous ?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Nous sommes deux étudiants en école d'ingénieur spécialité informatique passionnés de jeux de rôles.
        </p>
      </ion-card-content>
    </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Pourquoi ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Nous souhaitons simplifier la gestion des jeux de rôles en offrant la possibilité de créer des fiches personnages personnalisées et dynamiques.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Pour qui?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Pour les rôlistes qu'ils soient maître de jeu ou simplement joueurs, qu'ils puissent avoir une gestion simplifiée des parties pour se concentrer sur la partie et éviter les manipulations superfluent qui parasitent l'ambiance.
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card class="welcome-card" class="align-icon-center">
    <ion-card-header>
      <ion-card-title>GitHub  <ion-icon size="large" name="logo-github"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        https://github.com/Paul-AntoinePechmeja-Richard/RPGSheet-UTBM
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>
