<ion-header>
  <ion-toolbar>
    <ion-item id="title">
      <ion-input value="{{canvas.title}}" (change)="updateTitle($event)"></ion-input>
    </ion-item>
    <ion-button color="primary" (click)="chargeDefaultModel()">Charger model</ion-button>

    <ion-button (click)="ExportJSONCanvas()"><ion-icon name="download"></ion-icon></ion-button>
    <ion-button (click)="ExportPDFCanvas()">pdf</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="view">
      <div *ngFor="let elem of canvas.canvas " >
        <select *ngIf="elem.type == 'select'" class="defaultSelect">
          <option *ngFor="let opt of elem.options" value="{{opt}}">{{opt}}</option>
        </select>
        <div  *ngIf="elem.type == 'input'" class="defaultInput" id="{{elem.id}}">
          <ion-input></ion-input>
        </div>
      </div>
    </div>



</ion-content>

