<div fxFlex
     fxLayout="row">

  <section fxFlex
           fxLayout="column"
           class="scrollable"
           style="padding: 8px; margin-right: 8px;">

    <ion-card *ngFor="let draggable of draggables"
              [dndDraggable]="draggable.content"
              [dndEffectAllowed]="draggable.effectAllowed"
              [dndDisableIf]="draggable.disable"
              (dndStart)="onDragStart($event)"
              (dndCopied)="onDragged($event, 'copy')"
              (dndLinked)="onDragged($event, 'link')"
              (dndMoved)="onDragged($event, 'move')"
              (dndCanceled)="onDragged($event, 'none')"
              (dndEnd)="onDragEnd($event)">

      <ion-icon  *ngIf="draggable.handle" name="code"  dndHandle>drag_handle></ion-icon>

      draggable ({{draggable.effectAllowed}})
      <span [hidden]="!draggable.handle"> only with handle</span>
      <span [hidden]="!draggable.disable"> DISABLED</span>

    </ion-card>



  </section>

  <section dndDropzone id="dropzone"
           (dndDragover)="onDragover($event)"
           (dndDrop)="onDrop($event)">

    dropzone

    <!--optional placeholder element for dropzone-->
    <!--will be removed from DOM on init-->
    <div style="border: 1px orangered solid; border-radius: 5px; padding: 15px;"
         dndPlaceholderRef>
      placeholder
    </div>

  </section>

</div>
